# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- Some of the commonly used libraries used by Data Scientists
- examples of evaluating arithmetic expressions in Python

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. tensoflow

|Data Science Tools     | 
| ------------- | 
| Jupyter Lab | 
| Git Lab| 
| VS code|

### Below are a few examples of evaluating arithmetic expressions in Python

- 2+3
- 10/2
- 2*6
- 7-3

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
hours

3.3333333333333335

## Author
Leon Mbano